@keyframes gofromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  90% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fortoRight {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  90% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes rotateImage {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Modak" "Oswald" sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777777;
  padding: 2rem; }

.heading-text {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }

.main--heading {
  display: block;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 1rem;
  animation-name: gofromLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in; }

.second--main {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: .5rem;
  animation: fortoRight 1s ease-in;
  text-align: center; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(-120DEG, rgba(2, 27, 121, 0.9), rgba(5, 118, 230, 0.9), rgba(32, 93, 155, 0.9));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 1rem rgba(92, 122, 153, 0.2); }

.third-heading {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.skill-heading-w {
  color: white; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3); }

.btn--white {
  background-color: white;
  color: #444; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white::after {
  background-color: white; }

.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.5);
  opacity: 0; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3); }

.btn--white {
  background-color: white;
  color: #444; }
  .btn--white::after {
    background-color: white; }

.btn--blue {
  background-color: rgba(5, 118, 230, 0.9);
  color: white; }
  .btn--blue::after {
    background-color: rgba(5, 118, 230, 0.9); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.5);
  opacity: 0; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.3rem;
  background-color: rgba(5, 118, 230, 0.9);
  color: white;
  display: inline-block;
  text-decoration: none;
  border-radius: 10rem;
  padding: 1rem 2rem; }

.btn-text:hover {
  background-color: white;
  color: rgba(5, 118, 230, 0.9); }

.composition {
  position: relative; }
  .composition__photo {
    width: 30%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-color: rgba(5, 118, 230, 0.9);
    border-width: 2rem;
    border-radius: .2rem;
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    transition: all .3s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: -2rem; }
    .composition__photo--p3 {
      left: 35%;
      top: -2rem; }
    .composition__photo:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(-120DEG, rgba(2, 27, 121, 0.9), rgba(5, 118, 230, 0.9), rgba(32, 93, 155, 0.9));
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-2rem) scale(1.05); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem; }
  .card__side {
    height: 40rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .8rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(45DEG, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D); }
      .card__side--back--2 {
        background-image: linear-gradient(to right, #00416a, #799f0c, #ffe000); }
      .card__side--back--3 {
        background-image: linear-gradient(to right, #11998e, #38ef7d); }
      .card__side--back--4 {
        background-image: linear-gradient(to right, #11998e, #38ef7d); }
      .card__side--back--5 {
        background-image: linear-gradient(to right, #11998e, #38ef7d); }
      .card__side--back--6 {
        background-image: linear-gradient(to right, #11998e, #38ef7d); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 15rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem; }
    .card__picture--1 {
      background-image: linear-gradient(45DEG, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D), url("../images/insta-search-image.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right, #00416a, #799f0c, #ffe000), url("../images/wordpopLogo.png"); }
    .card__picture--3 {
      background-image: linear-gradient(to right, #11998e, #38ef7d), url("../images/currency-converter-image.jpg"); }
    .card__picture--4 {
      background-image: linear-gradient(to right, rgba(17, 153, 142, 0.7), rgba(56, 239, 125, 0.7)), url("../images/scrabble-image.jpg"); }
    .card__picture--5 {
      background-image: linear-gradient(to right, rgba(17, 153, 142, 0.7), rgba(56, 239, 125, 0.7)), url("../images/credit-card-validator-image.jpg");
      background-position: center; }
    .card__picture--6 {
      background-image: linear-gradient(to right, rgba(17, 153, 142, 0.7), rgba(56, 239, 125, 0.7)), url("../images/news-image.jpg");
      background-position: center; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 600;
    text-align: right;
    color: white;
    position: absolute;
    top: 8rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: .5rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(45DEG, rgba(64, 93, 230, 0.8), rgba(88, 81, 219, 0.8), rgba(131, 58, 180, 0.8), rgba(225, 48, 108, 0.8), rgba(253, 29, 29, 0.8)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right, #00416a, #799f0c, #ffe000); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right, #11998e, #38ef7d); }
    .card__heading-span--4 {
      background-image: linear-gradient(to right, #11998e, #38ef7d); }
    .card__heading-span--5 {
      background-image: linear-gradient(to right, #11998e, #38ef7d); }
    .card__heading-span--6 {
      background-image: linear-gradient(to right, #11998e, #38ef7d); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: .1rem solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__project-box {
    text-align: center;
    color: white;
    margin-bottom: 8rem; }
  .card__project-title {
    font-size: 3rem; }
  .card__project-details {
    font-size: 1.1rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(-120DEG, rgba(2, 27, 121, 0.9), rgba(5, 118, 230, 0.9), rgba(32, 93, 155, 0.9)), url("../images/background.jpeg");
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__header-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__profile-pic {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0.5rem solid white;
    border-radius: 50%; }
    .header__profile-pic:hover {
      animation: rotateImage 1.5s ease-in; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 10rem; }
  .row .col-1-of-2 {
    width: calc((100% - 10rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 10rem ) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 10rem ) / 3) + 10rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 10rem)/4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 10rem)/4) + 10rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 10rem)/4) + 2 *  10rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-skills {
  padding: 20rem 0;
  background-image: linear-gradient(-120DEG, rgba(2, 27, 121, 0.9), rgba(5, 118, 230, 0.9), rgba(32, 93, 155, 0.9)), url("../images/background.jpeg");
  background-size: cover;
  margin-top: -11rem;
  transform: skewY(-7deg); }
  .section-skills > * {
    transform: skewY(7deg); }

.section-projects {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }
