@keyframes gofromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  90% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fortoRight {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  90% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes rotateImage {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Modak" "Oswald" sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777777;
  padding: 2rem;
  box-sizing: border-box; }

.header {
  height: 90vh;
  background-image: linear-gradient(-120DEG, rgba(2, 27, 121, 0.9), rgba(5, 118, 230, 0.9), rgba(32, 93, 155, 0.9)), url("../images/background.jpeg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__header-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__profile-pic {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0.5rem solid white;
    border-radius: 50%; }
    .header__profile-pic:hover {
      animation: rotateImage 1.5s ease-in; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3); }

.btn--white {
  background-color: white;
  color: #444; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white::after {
  background-color: white; }

.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.5);
  opacity: 0; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3); }

.btn--white {
  background-color: white;
  color: #444; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white::after {
  background-color: white; }

.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.5);
  opacity: 0; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.heading-text {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }

.main--heading {
  display: block;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 1rem;
  animation-name: gofromLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in; }

.second--main {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: .5rem;
  animation: fortoRight 1s ease-in;
  text-align: center; }
