.footer {
    background-image:  linear-gradient(-120DEG,
    $color-primary-header,
    $color-secondary-header,
    rgba(32, 93, 155, 0.9));
    padding: 10rem 0;

    @include respond(tab-port){
        padding: 8rem 0;
    }
    

    &__logo-box{
        text-align: center;
        margin-bottom: 8rem;
        @include respond(tab-port){
            margin-bottom:6rem;
        }
    }
    &__logo{
        width: 10rem;
        height:auto;
    }
    &__navigation{
        border-top: .1rem solid #eee ;
        padding-top:2rem;
        display: inline-block;
        @include respond(tab-port){
            width: 100%;
            text-align: center;
        }
    }
    &__list{
        list-style: none;
    }
    &__item{
        display: inline-block;
        font-size: 1.6rem;
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
    &__link{
        &:link,
        &:visited{
            color: #eee;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }
        &:hover,
        &:active{
            color: $color-primary-header;
            box-shadow: 0 1rem 2rem rgba(0,0,0,.5);
            transform: rotate(5deg) scale((1.1));
        }
    }
    &__copyright{
        color: #eee;
        font-size: 1.6rem;
        float:right;
        @include respond(tab-port){
            width: 100%;
            float: none;
        }
    }
}