.header {
    height: 95vh;
    background-image: linear-gradient(-120DEG,
    $color-primary-header,
    $color-secondary-header,
    rgba(32, 93, 155, 0.9)),
        url('../images/background.jpeg') ;
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0% , 100% 75vh, 0% 100% );
    
    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo{
        height: 3.5rem;
    }

    &__header-box{
        position: absolute;
        top: 40%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    &__profile-pic{
        width: 25%;
    
        display: block;
        margin-left: auto;
        margin-right: auto;
      
        border:.5rem solid $white-color;
        
        border-radius: 50%;
        &:hover{
            animation: rotateImage 1.5s ease-in;
        }
    }
}


